body {
  margin: 50px;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.controls {
  margin-bottom: 10px;
}
.panel {
    border: 0px solid transparent;
    border-radius: 4px;
    margin-bottom: 10px;
}
.panel-heading {
    padding: 5px 5px;
    border-bottom: 0px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
.panel-landuse .panel-heading  {
    color: #333;
    background-color: #f5f5f5;
}
.collapse-group {
  padding: 10px;
  border: 1px solid darkgrey;
  margin-bottom: 10px;
}

.panel-title .trigger:before {
  content: '\e082';
  font-family: 'Glyphicons Halflings';
  vertical-align: text-bottom;
  padding-right: 10px;
}

.panel-title .trigger.collapsed:before {
  content: '\e081';
}
